@import "./variable.less";

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
@supports (bottom: constant(safe-area-inset-bottom)) {
  body {
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  }
}

body, html {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
//background: @color-background;
  // color: @color-text;
  height: 100%;
  background-color: #f5f5f5;
}
body {
  overflow: hidden;
  -webikit-overflow-scrolling: touch;
}
/** 重置列表元素 **/
ul, ol { list-style: none; }

div, span{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** 重置文本格式元素 **/
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #666;
}

input {
  border: 1px solid #ccc; /*no*/
  outline: none;
}

button {
  outline: none;
  color: @text-font-color;
  background: #fff;
  border: none;
}

h1 {
    font-size: 34px; /*px*/
}

p {
    margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

i {
  font-style: normal;
}

b {
  font-weight: normal;
  // color: #666;
}

.padding-r-60 {
  padding-right: 60px;
}

.text-center{
  text-align: center;
}

.border-box{
  box-sizing: border-box;
}

.vertical-align {
  vertical-align: middle;
}

.absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.absolute-center-x{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.absolute-center-xy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.wrapper {
  padding-top: 88px;
  padding-bottom: 32px;
}
// 单行文本溢出
.text-overflow-one {
  overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/*提醒框*/
.mint-toast.is-placemiddle {
  // top: 20%!important;
  width: 400px;
  // height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // line-height: 80px;
  padding: 20px!important;
  .mint-toast-text {
    font-family: @font-family-R;
    font-size: 30px;
    color: #fff;
  }
}
.camera_spinner {
  .mint-spinner-fading-circle {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px !important;
    height: 80px !important;
  }
}
/*新增潜客提交时，手机号已被注册提示样式*/
.global_toast.mint-toast.is-placetop {
  width: 240px;
  height: 80px;
  box-sizing: border-box;
  padding: 0 10px!important;
  border-radius: 10px;
  line-height: 80px;
  top: 25%;
  .mint-toast-text {
    display: inline-block;
    font-size: 26px;
  }
}

/*input输入框样式*/
.mint-field{
  .mint-cell-wrapper{
    background-image: none;
    .mint-cell-value{
      input.mint-field-core{
        font-family: @font-family-L;
        color: @font-color-4A;
        font-size: @font-size-thirtyT;/*px*/
      }
      input::-webkit-input-placeholder {
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
      input:-moz-placeholder {
        /* FF 4-18 */
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
      input::-moz-placeholder {
        /* FF 19+ */
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
      input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
    }
  }
}

input::-webkit-input-placeholder {
  font-size: @font-size-twentyS;/*px*/
  font-family: @font-family-R;
  color: @text-font-noEdit;
}
input:-moz-placeholder {
  /* FF 4-18 */
  font-size: @font-size-twentyS;/*px*/
  font-family: @font-family-R;
  color: @text-font-noEdit;
}
input::-moz-placeholder {
  /* FF 19+ */
  font-size: @font-size-twentyS;/*px*/
  font-family: @font-family-R;
  color: @text-font-noEdit;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: @font-size-twentyS;/*px*/
  font-family: @font-family-R;
  color: @text-font-noEdit;
}

/*提交按钮样式*/
.mint-button.mint-button--default{
  display: block;
  margin: 0 auto;
  width: 650px;
  height: 88px;
  padding: 0;
  box-shadow: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: @font-family-R;
  font-size: @font-size-thirtyS;/*px*/
  background: @back-color-linear;
}
.mint-button.is-disabled{
  background: @back-color-E8;
}

/*弹出框*/
.mint-msgbox-wrapper{
  .mint-msgbox{
    width: 560px;
    height: 22%;
    // height: 290px;
    font-family: @font-family-R;
    .mint-msgbox-header{
      padding: 50px 0 18px 0;
      .mint-msgbox-title{
        font-size: @font-size-thirtyS;/*px*/
        color: @font-color-333;
        line-height: 50px;
      }
    }
    .mint-msgbox-content{
      padding: 0 0 30px 0;
      border: none;
      .mint-msgbox-message{
        font-size: @font-size-thirty;/*px*/
        color: #888888;
        line-height: 42px;
      }
    }
    .mint-msgbox-btns{
      height: 100px;
      line-height: 100px;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-top: 0.013333rem solid #ddd;/*no*/
      .mint-msgbox-btn{
        font-size: @font-size-thirtyS;/*px*/
        color: @font-color-9B;
      }
      .mint-msgbox-confirm{
        color: @text-font-color;
      }
    }
  }
}

/*提交材料*/
.vux-x-dialog.dialog-demo.quitDialog{
  .weui-dialog{
    width: 560px;
    height: 549px;
    padding-top: 40px;
    font-family: @font-family-R;
    img{
      width: 283px;
    }
    .submit_cont{
      margin: 26px 0;
      font-size: @font-size-thirtyT;/*px*/
      color: @font-color-4A;
    }
    button{
      height: 100px;
      line-height: 100px;
      width: 100%;
      border: none;
      border-top: 1px solid #D2D3D5;/*no*/
      font-size: @font-size-thirtyS;/*px*/
    }
  }
}

/*group cell 折叠*/
.weui-cells.vux-no-group-title{
  margin-top: 0px;
  .weui-cell{
    padding: 0;
  }
}
.weui-cells.vux-no-group-title:before, .weui-cells.vux-no-group-title::after{
  border: none;
  height: 0;
}

// 必填项icon
.must_fill {
  position: relative;
  .new_field {
    height: 110px;
    padding: 0 40px;
    /*border-top: 1px solid #d9d9d9;*/
    .mint-cell-wrapper {
      padding: 0;
    }
    .mint-cell-title {
      font-family: PingFangSC-Regular;
      color: #333;
      font-size: 30px;
      width: auto;
      height: 100%;
    }
    .mint-field-core {
      font-family: PingFangSC-Medium;
      text-align: right;
      font-size: 30px;
      color: #4a4a4a;
    }
    .mint-field-state {
      display: none;
    }
  }
  .necessary_icon,
  .weui-cells i {
    position: absolute;
    left: 15px;
    top: 50%;
    color: #E73838;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 26px!important;
  }
  .radio_box {
    padding: 0 40px;
    background-color: #fff;
    height: 110px;
    .mint-radiolist.radio_item{
      height: 100%;
      position: relative;
      .mint-radiolist-title{
        display: inline-block;
        line-height: 110px;
        vertical-align: top;
        padding: 0;
      }
      .mint-cell{
        display: inline-block;
        margin-top: 1px;
        position: absolute;
        /*float: right;*/
        .mint-radio-label {
          font-size: 28px;
          color: #4a4a4a;
          font-family: PingFangSC-Medium;
        }
      }
    }
    .radio_item.mint-radiolist .mint-cell:nth-of-type(1) {
       right: 200px;
    }
    .radio_item.mint-radiolist .mint-cell:nth-of-type(2) {
      right: 0;
    }
    .radio_item.mint-radiolist .mint-cell:last-child {
      background-image: none;
    }
    .radio_item {
      .mint-radiolist-title {
        font-size: 30px;
        width: 150px;
        color: #333;
        line-height: 42px;
        padding: 18px 0 10px;
        margin: 0;
        color: #4a4a4a;
      }
      .mint-radiolist-label {
        margin-top: -6px;
      }
      .mint-radio-core {
        width: 28px;
        height: 28px;
        border-radius: 100%;
        border: 1px solid #979797;/*no*/
      }
      .mint-radio-input:checked + .mint-radio-core {
        background-color: #fff;
        border-color: #2672BA;
      }
      .mint-radio-core::after {
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -8px;
      }
      .mint-radio-input:checked + .mint-radio-core::after{
        background-color: #2672BA;
      }
    }
    .mint-cell-wrapper {
      background-image: none;
      -webkit-background-image: none;
    }
  }
  .radio_box {
    .mint-cell {
      .mint-cell-wrapper {
        .mint-cell-title {
          // height: 0;
        }
      }
    }
  }
}
.vux-popup-dialog {
  //.scroller-indicator {
  //  height: 60px;
  //}
  //.scroller-item {
  //  height: 60px;
  //  line-height: 60px;
  //}
}
.mint-button.mint-button--default.is-disabled{
  //background: @back-color-disabled;
}

.vux-popup-header.vux-1px-b{
  height: 90px;
  line-height: 90px;
}
