@import "./variable.less";

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
@supports (bottom: constant(safe-area-inset-bottom)) {
  body {
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  }
}

body, html {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
//background: @color-background;
  // color: @color-text;
  height: 100%;
  background-color: #f5f5f5;
}
body {
  -webikit-overflow-scrolling: touch;
}
/** 重置列表元素 **/
ul, ol { list-style: none; }

div, span{
  box-sizing: border-box;
}

/** 重置文本格式元素 **/
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #666;
}

input {
  border: 1px solid #ccc; /*no*/
  outline: none;
}

button {
  border: none;
  color: @text-font-color;
  background: #fff;
}

h1 {
    font-size: 34px; /*px*/
}

p {
    margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

i {
  font-style: normal;
}

b {
  font-weight: normal;
  // color: #666;
}

.padding-r-60 {
  padding-right: 60px;
}

.text-center{
  text-align: center;
}

.border-box{
  box-sizing: border-box;
}

.vertical-align {
  vertical-align: middle;
}

.absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.wrapper {
  padding-top: 128px;
}
// 单行文本溢出
.text-overflow-one {
  overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.mint-toast.is-placemiddle {
  top: 20%!important;
  width: 300px;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 80px;
  padding: 0!important;
  .mint-toast-text {
    font-family: @font-family-R;
    font-size: 30px;
    color: #fff;
  }
}
.camera_spinner {
  .mint-spinner-fading-circle {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px !important;
    height: 80px !important;
  }
}
/*新增潜客提交时，手机号已被注册提示样式*/
.global_toast.mint-toast.is-placetop {
  width: 240px;
  height: 80px;
  box-sizing: border-box;
  padding: 0 10px!important;
  border-radius: 10px;
  line-height: 80px;
  top: 25%;
  .mint-toast-text {
    display: inline-block;
    font-size: 26px;
  }
}

/*input输入框样式*/
.mint-field{
  .mint-cell-wrapper{
    background-image: none;
    .mint-cell-value{
      input.mint-field-core{
        font-family: @font-family-L;
        color: @font-color-4A;
        font-size: @font-size-thirtyT;/*px*/
      }
      input::-webkit-input-placeholder {
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
      input:-moz-placeholder {
        /* FF 4-18 */
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
      input::-moz-placeholder {
        /* FF 19+ */
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
      input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: @font-family-R;
        color: @text-font-noEdit;
      }
    }
  }
}

/*提交按钮样式*/
.mint-button.mint-button--default{
  display: block;
  margin: 0 auto;
  width: 650px;
  height: 88px;
  padding: 0;
  box-shadow: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: @font-family-R;
  font-size: @font-size-thirtyS;/*px*/
  background: @back-color-linear;
}
.mint-button.is-disabled{
  //background: @back-color-no;
}
// 必填项icon
.must_fill {
  position: relative;
  .necessary_icon,
  .weui-cells i {
    position: absolute;
    left: 15px;
    top: 50%;
    color: #E73838;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 26px!important;
  }
  .radio_box {
    .mint-cell {
      .mint-cell-wrapper {
        .mint-cell-title {
          height: 0;
        }
      }
    }
  }
}
.vux-popup-dialog {
  //.scroller-indicator {
  //  height: 60px;
  //}
  //.scroller-item {
  //  height: 60px;
  //  line-height: 60px;
  //}
}
.mint-button.mint-button--default.is-disabled{
  //background: @back-color-disabled;
}
