@import "./variable.less";
.space {
    width: 100%;
    height: 20px; /*px*/
    background-color: @color-bg-e;
}
.fr {
    float: right;
}

.btn {
    border: 1px solid #ccc; /*no*/
    outline: none;
    background-color: #fff;
    color: #333;
    font-size: 28px; /*px*/
    padding: 6px 24px;
    border-radius: 10px;
}
.btn-primary {
    background-color: #0083c5;
    color: #fff;
}

.btn-small {
  width: 70px;
  height: 36px;
  font-size: 19px !important;
  padding: 0px !important;
  border-radius: 0 !important;
}
.bottom-remark {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    height: 110px;
    .add {
      width: 710px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto;
      border: 1px solid #999;
      border-radius: 10px;
      margin-top: 19px;
      padding-left: 20px;
        .addInput {
            width: 100%;
            height: 69px;
            text-indent: 10px;
            border-radius: 5px;
            font-size: 28px; /*px*/
        }
        .right {
            float: right;
            border: 1px solid #666; /*no*/
            border-radius: 20px;
            padding: 3px 10px;
            height: 100%;
        }
        .left {
            margin-right: 120px;
            padding: 18px 10px;
            border: 1px solid #666; /*no*/
            border-radius: 20px;
        }
    }
}
//产品列表
.flexbox-wrapper .vux-flexbox {
    border-top: 1px solid #E9E9E9; /*no*/
    padding-top: 20px;
    padding-bottom: 20px;
    .vux-flexbox-item {
        padding: 33px;
        box-sizing: border-box;
        p {
            margin-bottom: 6px;
            margin-top: 0;
        }
    }
    .vux-flexbox-item:nth-child(2) {
        border-left: 1px solid #E9E9E9; /*no*/
    }
    .item-left {
        .rate {
            color: #E23532;
            span {
                font-size: 40px; /*px*/
            }
        }
        .text {
            font-size: 24px; /*px*/
        }
    }
    .item-right {
        // [data-dpr="2"] p {
        //     font-size: 32px;
        // }
        // [data-dpr="1"] p {
        //     font-size: 14px;
        // }
        p {
            font-size: 32px; /*px*/
        }
        span {
            font-size: 22px; /*px*/
            background-color: #F76E61;
            color: #fff;
            padding: 2px 13px; /*px*/
        }
    }
}

// 得分字体
.text-plus {
  font-size: 30px; /*px*/
  .red-text-1 {
    color: #EE3826;
    font-weight: bold;
    margin: 0 5px;
    font-size: 44px; /*px*/
    margin-right: 24px;
  }
}

// '二级市场'标签
.red-label {
    background-color: #F76E61;
    // width: 122px;
    // height: 36px;
    font-size: 24px; /*px*/
    color: #fff;
    padding: 6px 16px;
}

//button
.btn_wrap {
  padding: 0 37px;
  margin-top: 2rem;
  position: relative;
  width: 100%;
  bottom: 30px;
  box-sizing: border-box;
  .weui-btn_primary {
    border-radius: 60px;
    background-color: #3693E0;
    width: 644px;
    height: 88px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: #fff;
    line-height: 88px;
    font-size: 32px; /*px*/
  }
}
.position {
  position: fixed;
}

// .weui-cells::before {
// 	border-top: 1px solid #D9D9D9; /*no*/
// }
.weui-cells::after {
	border-bottom: 1px solid #D9D9D9; /*no*/
}

.potential {
  .add_remark_x {
    .weui-dialog {
      width: 580px;
      //margin-left: -290px;
      //left: 50%;
      height: 320px;
      border-radius: 10px;
      //bottom: 50%;
      //margin-bottom: -160px;
      padding-left: 0;
      padding-right: 0;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    .add_remark_t {
      width: 530px;
      height: 200px;
      display: block;
      border: 1px solid #ddd;
      margin: 0 auto;
      border-radius: 10px;
      font-size: 36px;
      color: #666;
      padding: 10px;
      box-sizing: border-box;
      outline: none;
    }
    .add_remark_btn {
      font-size: 30px;
      display: block;
      margin-right: 25px;
      height: 50px;
      width: 160px;
      position: absolute;
      right: 0;
      text-align: center;
      line-height: 50px;
      background-color: #2672ba;
      color: #fff;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
}

.perfect_infos,
.wrapper {
  .celll_datetime,
  .cell_starttime,
  .cell_endtime {
    .weui-cell__ft.vux-cell-primary.vux-datetime-value {
      padding-right: 25px!important;
    }
  }
}
.vux-header .vux-header-right a.add_newcustomer {
  font-size: 30px;
}
/*验证码*/
.wrapper {
  .verificate {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #2672ba;
    color: #f0f0f0;
    width: 140px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    vertical-align: middle;
  }
  .quitDialog,
  .msg_dialog {
    .weui-dialog {
      width: 580px;
      height: 345px;
      background: #FFFFFF;
      border-radius: 10px;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      padding: 0;
      text-align: center;
      .quit {
        margin-top: 85px;
        margin-bottom: 75px;
        font-family: PingFangSC-Regular;
        font-size: 36px;
        color: #333333;
      }
      .weui-btn.weui-btn_primary {
        display: inline-block;
        background: #2A7DC1;
        border-radius: 10px;
        width: 190px;
        height: 80px;
        font-family: PingFangSC-Medium;
        font-size: 36px;
        color: #F0F0F0;
      }
    }
  }
  .msg_dialog {
    .weui-dialog {
      height: 330px;
    }
    .msg_title {
      color: #333;
      font-size: 30px;
      margin: 30px auto;
    }
    .msg_ipt {
      font-size: 30px;
      color: #333;
      text-align: center;
      border-color: #999;
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 60px;
      margin-bottom: 30px;
      border-radius: 10px;
    }
  }
}
.toast_class {
  font-size: 40px;
}
