// 适配 iphoneX 样式
@padding: 34px;
@media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
  #app{
    .vux-header {
      // padding-top: 54px;
      padding-top: 70px;
    }
    .customerList .vux-header .vux-header-right{
      top: 80px;
    }
    .wrapper {
      padding-top: 157px;
    }
    .weui-tabbar {
      padding-bottom: @padding;
    }
    .wrapper {
      // padding-bottom: @padding;
      .bottom-remark {
        padding-bottom: @padding;
      }
    }
    .footer-button {
      bottom: @padding;
    }
    .qTitle{
      padding-top: 120px;
    }
    // .index-wrapper {
    //   .wrapper {
    //     padding-bottom: 0;
    //   }
    // }
  }
}
