// 颜色定义规范
@color-bg-c: #ccc;
@color-bg-e: #eee;
@color-bg-d: rgba(0, 0, 0, 0.3);
@color-bg-header: #fff;
@balck-bg-header: #1E1E1E;
// @color-bg-header: #2672BA;
@color-highlight-background: #333;
// @color-dialog-background: #666;
@color-theme: #ffcd32;
@color-theme-d: rgba(255, 205, 49, 0.5);
@color-sub-theme: #d93f30;
@color-title-text: #333;
@color-text: #666;
@color-text-d: rgba(255, 255, 255, 0.3);
@color-text-l: rgba(255, 255, 255, 0.5);
@color-text-ll: rgba(255, 255, 255, 0.8);

//字体定义规范
// @font-size-small-s: 10px;
// @font-size-small: 12px;
// @font-size-medium: 14px;
// @font-size-medium-x: 16px;
// @font-size-large: 18px;
// @font-size-large-x: 22px;

// new standard by paul
@new-header-color: #fff; // 主题色
@new-bg-color: #f5f5f5; // 正文背景色
@new-font-color: #B68458; // 正文字体色

// 新版app
//字体颜色
@text-font-color: #BD9D62; //大部分字体颜色
@text-font-noEdit: #DCDCDC; //输入框未填写字体颜色
@font-color-999: #999999;
@font-color-9B: #9B9B9B;
@font-color-9E: #9E9E9E;
@font-color-7E: #7E7E7E;
@font-color-333: #333333;
@font-color-000: #000000;
@font-color-4A: #4A4A4A;
@font-color-black: #171A27;
@font-color-red: #F05D59;
@font-color-green: #39A273;
@font-color-orange1: #C4902D;
@font-color-orange2: #F3B90F;
@font-color-blue: #3377FF;

//字体大小
@font-size-twenty: 20px;
@font-size-twentyF: 24px;
@font-size-twentyS: 26px;
@font-size-twentyE: 28px;
@font-size-thirty: 30px;
@font-size-thirtyT: 32px;
@font-size-thirtyS: 36px;

//字体
@font-family-M: PingFangSC-Medium;
@font-family-R: PingFangSC-Regular;
@font-family-L: PingFangSC-Light;

//背景颜色
@back-color-linear: linear-gradient(90deg, rgba(223,193,137,0.97) 0%, #BD9D62 89%); //渐变背景颜色
@back-color-E8: #E8E8E8;
@back-color-white: #fff;

// customerList
@header-bg: #1e1e1e;

// 线条颜色
@line-color-light: #f3f3f3;
